- access_levels = local_assigns[:access_levels]
- default_access_level = local_assigns[:default_access_level]
- submit_url = local_assigns[:submit_url]
- can_import_members = local_assigns[:can_import_members?]
- import_path = local_assigns[:import_path]
.row
  .col-sm-12
    = form_tag submit_url, class: 'invite-users-form', method: :post do
      .form-group
        = label_tag :user_ids, _("GitLab member or Email address"), class: "label-bold"
        = users_select_tag(:user_ids, multiple: true, class: 'input-clamp qa-member-select-field', scope: :all, email_user: true, placeholder: 'Search for members to update or invite')
      .form-group
        = label_tag :access_level, _("Choose a role permission"), class: "label-bold"
        .select-wrapper
          = select_tag :access_level, options_for_select(access_levels, default_access_level), class: "form-control project-access-select select-control"
          = sprite_icon('chevron-down', css_class: "gl-icon gl-absolute gl-top-3 gl-right-3 gl-text-gray-200")
        .form-text.text-muted.gl-mb-3
          - permissions_docs_path = help_page_path('user/permissions')
          - link_start = %q{<a href="%{url}">}.html_safe % { url: permissions_docs_path }
          = _("%{link_start}Read more%{link_end} about role permissions").html_safe % { link_start: link_start, link_end: '</a>'.html_safe }
      .form-group
        = label_tag :expires_at, _('Access expiration date'), class: 'label-bold'
        .clearable-input
          = text_field_tag :expires_at, nil, class: 'form-control js-access-expiration-date', placeholder: 'Expiration date'
          = sprite_icon('close', size: 16, css_class: 'clear-icon js-clear-input gl-text-gray-200')
      = submit_tag _("Invite"), class: "btn btn-success", data: { qa_selector: 'invite_member_button' }
      - if can_import_members
        = link_to _("Import"), import_path, class: "btn btn-default", title: _("Import members from another project")
